<!DOCTYPE html>
<html>

<head>
    <title>
        Now Do What
    </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Now Do What</h1>
            <p>Your tasks on Autopilot</p>
        </div>
        <p>Welcome</p>
        <p>Coming soon. Please stay tuned.</p>
    </div>
</body>

</html>