<!DOCTYPE html>
<html>

<head>
    <title>
        <%=t itle %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Welcome to Now Do What</h1>
    <p>Coming soon. Please stay tuned.</p>
</body>

</html>